:root {
    --color-bg-blue-dark: #051D3B;
    --color-bg-input: rgba(255, 255, 255, 0.16);

    --color-font-white: rgba(255, 255, 255, 1);

    --font-text: "Inter", sans-serif;
    --font-code: "Roboto Mono", monospace;
}

* {
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-blue-dark);
}
