.aside__menu {
    display: none;
    width: 254px;
    height: 1070px;
    position: absolute;
    top: 110px;
    right: 0;
    background-color: rgba(45, 65, 91, 1);
    padding: 24px;
    border-top-left-radius: 8px;
    animation-name: slide;
    animation-duration: .5s;
}

@keyframes slide {
    from {right: -245px;}
    to {right: 0;}
}

@keyframes slide-reverse {
    from {right: 0;}
    to {right: -245px;}
}

.aside__menu hr {
    margin: 24px 0;
}

.aside__menu .usuario {
    margin: 0;
}