.input__menu-hamburguer {
    position: absolute;
    left: -9999px;
}

.cabeçalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../img/menu-fechado.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 2px;
    border-radius: 50%;
    display: none;
}

.menu__hamburguer-navegacao {
    display: none;
    position: absolute;
    width: 240px;
    top: 21%;
    left: 4px;
    border-radius: 0 0 8px 8px;
    border: 1px solid white;
    border-top: none;
    background-color: var(--color-bg-blue-dark);
}

.item__hamburguer {
    padding-left: 36px;
}

.input__menu-hamburguer:checked~.input__label>.cabeçalho__menu-hamburguer {
    background-color: var(--color-bg-input);
}

.cabeçalho {
    height: 56px;
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 145px;
    margin-right: 32px;
}

/* Classe compartilhada com todos inputs */
.input {
    background-color: var(--color-bg-input);
    border: none;
    border-radius: 8px;
    padding: 0 14px;
    color: var(--color-font-white);
    font-size: 1rem;
}

.input::placeholder {
    color: var(--color-font-less-white);
}

.input__busca {
    width: 752px;
    height: 56px;
    margin-right: 32px;
}


.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px;
}

.usuario .usuario__foto {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.usuario__nome {
    color: var(--color-font-white);
}

@media screen and (max-width: 950px) {
    .cabeçalho__menu-hamburguer {
        display: block;
    }

    .input__menu-hamburguer:checked~.menu__hamburguer-navegacao {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        margin-right: 1%;
    }

    .input__busca {
        width: 40%;
        margin-right: 1%;
    }
    
    .input::placeholder {
        white-space: normal;
    }
    
    .usuario__nome {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .input__busca {
        display: none;
    }
}

