.cabeçalho {
    height: 56px;
    margin: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 145px;
}

/* Classe compartilhada com todos inputs */
.input {
    background-color: var(--color-bg-input);
    border: none;
    border-radius: 8px;
    padding: 0 14px;
    color: var(--color-font-white);
    font-size: 1rem;
}

.input::placeholder {
    color: var(--color-font-less-white);
}

.input:hover {
    transition: 0.5s;
    background-color: var(--color-bg-input-hover);
}

.input__busca {
    width: 752px;
    height: 56px;
}


.usuario {
    height: 56px;
    width: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
    margin-left: 8%;
    cursor: pointer;
}

.usuario:hover {
    transition: 0.5s;
    background-color: var(--color-bg-white-button-hover);
}

.usuario .usuario__foto {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.usuario__nome {
    color: var(--color-font-white);
}

.botao__pesquisa {
    display: none;
    width: 48px;
    height: 48px;
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 14px;
    border-radius: 16px;
    cursor: pointer;
}

.busca__mobile {
    background-color: var(--color-bg-blue-dark);
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 0;
    left: 0;
    padding: 16px 32px;
    grid-template-columns: auto 48px;
    grid-template-rows: 56px;
    grid-template-areas: 
    "input button";
    align-items: center;
    gap: 8px;
}

.input__busca-mobile {
    width: 100%;
    height: 55px;
    grid-area: input;
}

.botao__fechar {
    width: 48px;
    height: 48px;
    background-image: url(../img/fechar.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px;
    grid-area: button;
    border-radius: 16px;
    cursor: pointer;
}

.botao__pesquisa:hover, .botao__fechar:hover {
    transition: 0.5s;
    background-color: var(--color-bg-button-unable-hover);
}

.menu__hamburguer {
    display: none;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url(../img/Menu-hambuguer.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.menu__hamburguer:hover {
    transition: 0.5s;
    background-color: var(--color-bg-button-unable-hover);
}

.menu__hamburguer-active {
    background-image: url(../img/close-menu-hamburguer.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .input__busca{
        width: 431px;
    }

    .cabeçalho .usuario {
        display: none;
    }

    .menu__hamburguer {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        margin-right: 28%;
    }

    .input__busca{
        display: none;
    }

    .botao__pesquisa {
        display: block;
        margin-right: 8px;
    }

    .cabeçalho {
        justify-content: space-between;
        margin: 16px;
    }
}

@media screen and (max-width: 375px) {
    .busca__mobile {
        padding: 16px;
    }
}