.secao__codigo {
    width: 100%;
    max-width: 688px;
    height: 366px;
    gap: 32px;
    border-radius: 8px;
    padding: 32px;
    background-color: var(--color-bg-cyan);
    margin-bottom: 32px;
}

.codigo {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.circulos {
    width: 52px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.circulo {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circulo-vermelho {
    background-color: rgba(255, 95, 86, 1);
}

.circulo-amarelo {
    background-color: rgba(255, 189, 46, 1);
}

.circulo-verde {
    background-color: rgba(39, 201, 63, 1);
}

.code-wrapper {
    width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    height: 100%;
}

.code-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.code-wrapper::-webkit-scrollbar-track {
    background: var(--color-bg-input);
    border-radius: 8px;
}

.code-wrapper::-webkit-scrollbar-thumb {
    background: var(--color-font-less-white);
    border-radius: 8px;
}

.code-wrapper::-webkit-scrollbar-corner {
    background: black;
}

.coding__area {
    display: block;
    width: 100%;
    height: 100%;
    font-family: var(--font-code);
    color: var(--color-font-white);
    font-size: 14px;
    white-space: pre-wrap;
}

.edit-page {
    background-image: url(../img/code-file-icon.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.edit-page:focus {
    outline: 0;
    background-image: none;
}

.syntax-highlight {
    width: 688px;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--color-bg-blue-medium);
    color: var(--color-font-white);
    cursor: pointer;
}

.syntax-highlight:hover {
    transition: 0.5s;
    background-color: var(--color-bg-button-unable-hover);
}

@media screen and (max-width: 1250px) {
    .conteudo__codigo {
        width: 47%;
        margin: 0 20px;
    }

    .syntax-highlight {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .conteudo__codigo {
        width: 100%;
        margin: 0;
    }

    .secao__codigo {
        height: 492px;
    }

    .syntax-highlight {
        width: 100%;
    }
}