.menu__configuracao {
    display: flex;
    flex-direction: column;
}

.menu__configuracao-dados, .menu__configuracao-personalizacao{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 32px;
}

.input__projeto-nome, .input__projeto-linguagem, .input__projeto-highlight-color, .menu__configuracao-submeter {
    width: 272px;
    height: 56px;
}

.input__projeto-descricao {
    width: 272px;
    height: 80px;
    padding-bottom: 25px;
}

.input__projeto-linguagem {
    color: var(--color-font-less-white);
    cursor: pointer;
}

.input__projeto-highlight-color {
    border-radius: 8px;
    padding: 2px;
    background-color: var(--color-bg-blue-dark);
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.menu__configuracao-submeter {
    border: none;
    border-radius: 8px;
    padding: 0 14px;
    color: var(--color-font-white);
    font-size: 1rem;
    background-color: var(--color-bg-blue-light);
    color: var(--color-bg-blue-dark);
    font-weight: 400;
    cursor: pointer;
}

.menu__configuracao-submeter:hover {
    transition: 0.5s;
    background-color: var(--color-bg-button-filled-hover);
}