.menu__navegacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu__titulo {
    color: var(--color-font-white);
    font-size: 12px;
    letter-spacing: 0.4rem;
}

.menu__item {
    height: 48px;
    display: flex;
    column-gap: 16px;
    align-items: center;
    text-decoration: none;
    color: var(--color-font-white);
}

.menu__item-div {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-blue-medium);
    border-radius: 16px;

}

.menu__item-img {
    width: 20px;
    height: 14px;
}

.active {
    background-color: var(--color-bg-blue-light);
}

@media screen and (max-width: 1300px) {
    .menu__item {
        column-gap: 8px;
    }
    .menu__item-div {
        width: 32px;
        height: 32px;
        border-radius: 12px;
    }
}


@media screen and (max-width: 950px) {
    .menu__navegacao {
        display: none;
    }
}